/*-- scss:defaults --*/
$primary-color: #9c27b0;
$secondary-color: #7b1fa2;
$tertiary-color: #ce93d8;
$accent-color: #ffeb3b;
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
$font-family-sans-serif: 'Montserrat', sans-serif;


$body-color: $primary-color;
$link-color: $secondary-color; 
$link-color-hover: $tertiary-color;
$selected-text-color: $secondary-color;
$code-color: $accent-color;

/*-- scss:rules --*/

@mixin background-full {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}    

.theme-slide1 {
  position: relative;
  z-index: 0;

  &:is(.slide-background) {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('slide1.png');
      @include background-full;
      opacity: 0.2;
      z-index: -1;
    }
  }
}

